body {
    width: 100%;
    height: 100vh;
}

#board {
    width: 80%;
    height: 85vh;
    background-color: rgb(74, 118, 17);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

#player1 {
    justify-self: left;
    grid-row: 18/21;
    grid-column: 1/8;
}

#player2 {
    justify-self: left;
    grid-row: 1/5;
    grid-column: 1/6;
}


#cardsPlayer1 {
    background-image: url("../images/cardBack.svg");
    grid-row: 15/21;
    grid-column: 9/11;
    background-size: 100% 100%;    
}

#cardsPlayer2 {
    background-image: url("../images/cardBack.svg");
    grid-row: 1/7;
    grid-column: 9/11;
    background-size: 100% 100%;
}

#openCardsPlayer1 {
    grid-row: 15/21;
    grid-column: 9/11;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: grid;
}

#openCardsPlayer2 {
    grid-row: 1/7;
    grid-column: 9/11;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: grid;
}

#cardNum1 {
    align-self: center;
    justify-self: center;
    font-size: xx-large;
}

#cardNum2 {
    align-self: center;
    justify-self: center;
    font-size: xx-large;
}

#fuckingStick {
    background-color: #643D01;
    grid-row: 9/13;
    grid-column: 8/10;
    border-radius: 100%;
    transition: all 3s ease;
}

#playBtn {
    border-radius: 10px;
    grid-row: 18/20;
    grid-column: 13/16;
}

#playBtn:hover {
    opacity: 90%;
}

.card1 {
    background-image: url("../images/kd.png");
}

.card2 {
    background-image: url("../images/kc.png");
}

.card3 {
    background-image: url("../images/ks.png");
}

.card4 {
    background-image: url("../images/js.png");
}
@keyframes openCard{
    from{
        grid-row: 15/21;
        grid-column: 9/11;
    }
    to{
        grid-row :12/17;
        grid-column:12/14;
    }
}